---
layout: wide
title: Posts
include_scripts: ["/posts_list.js", "/utils/image-generator.js"]
---

<div id="filter-controls">
  <span>Filter posts by tag:</span>
  <div id="tag-filter-container" class="filter-container">
  </div>
</div>

<hr class="subtle" />
<div id="post-preview-container">
  {% for post in site.posts %}
  <div class="post-preview-card" data-post-id="{{ post.id }}" data-post-tags="{% for tag in post.tags %}{{ tag }},{% endfor %}">
    <a href="{{ post.url }}">
      <div class="post-preview-bg">
        <div class="post-preview-excerpt fade-out">{{ post.excerpt }}</div>
      </div>
      <span class="post-preview-title">{{ post.title }}</span>
    </a>
  </div>
  <!-- post-preview-card -->
  {% endfor %}
</div>
<!-- post-preview-container -->

<hr class="subtle" />

<a href="/feed.xml" class="page-nav-link" download>
  <img src="/assets/icons/rss.svg" class="icon" /> <span>RSS Feed</span>
</a>
