---
---

@import "{{ site.theme }}";

:root {
    --error-color: #cc4831;
    --warning-color: #fdb953;
    --success-color: #039a00;
    --moderate-lighter-color: #fbf4ec;
    --subtle-lighter-color: #f5ede3;
    --default-color: #ece4d8;
    --subtle-darker-color: #c7c0b5;
    --moderate-darker-color: #a89d8b;
    --theme-blue: #5b7f98;
    --theme-red: #7c334f;
}

// Fixes to the defaults to allow a wider central column

.shell {
    --shell-width: 670px;
}

.shell-wide {
    --shell-width: 1050px;

    @extend .shell;
    min-width: var(--shell-width);
    text-align: center;

    header {
        max-width: calc(var(--shell-width) - 70px);
    }

    #no-downloads {
        width: calc(var(--shell-width) - 120px);
        background-size: 100% 44%;

        .inner {
            width: calc(var(--shell-width) - 120px);
            background: transparent url(../images/download-sprite-wide.png) 0 0
                no-repeat;
        }
    }

    .banner-fix {
        width: var(--shell-width);
    }

    footer {
        max-width: calc(var(--shell-width) - 120px);
        background: transparent url(../images/footer-ramp.jpg) center 18px
            no-repeat;
        background-size: 100% 44%;
    }
}

.input-error {
    color: var(--error-color);
}

.hidden {
    display: none;
    visibility: collapse;
    max-height: 0;
    // Don't mess with grids
    position: absolute;
}

.icon {
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
}

hr.subtle {
    border: 2px dotted var(--subtle-darker-color);
    height: 0px;
    margin: 5px auto;
    width: 70%;
    background: none;
}

/* Applied to body when modal is showing */
.no-scroll {
    overflow: hidden;
}

.modal-overlay {
    // Positioning
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    // Colouring - we use RGBA in caps to avoid SCSS interpreting the functions
    --overlay-opacity: 0.15;
    background: RGBA(from var(--theme-blue) r g b / var(--overlay-opacity));
    background-image: radial-gradient(
        circle,
        RGBA(from var(--theme-red) r g b / var(--overlay-opacity)) 30%,
        RGBA(from var(--theme-blue) r g b / var(--overlay-opacity)) 100%
    );
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--default-color);
    padding: 7px 10px 10px;
    border-radius: 5px;
    z-index: 1001;
    width: calc(var(--shell-width) - 120px - 300px);
}

.modal-active {
    display: block;
}

input,
select,
textarea {
    border-width: 0px;
    border-bottom: 2px solid var(--subtle-darker-color);
    background-color: var(--subtle-lighter-color);

    &:focus,
    &:hover {
        border-bottom: 2px solid var(--moderate-darker-color);
        background-color: var(--moderate-lighter-color);
    }

    &:disabled,
    &:read-only {
        border-bottom: 2px solid var(--subtle-lighter-color);
        background-color: var(--default-color);
    }
}

label {
    padding-top: 2px;
}

// Add top borders for textarea
textarea {
    border-top: 2px solid var(--subtle-darker-color);

    &:focus,
    &:hover {
        border-top: 2px solid var(--moderate-darker-color);
    }
}

.textarea-label {
    padding-top: 3px;
}

.warning-border {
    border: 2px solid var(--warning-color);
}

.success-bg {
    background-color: var(--success-color);
}

.warning-bg {
    background-color: var(--warning-color);
}

.error-bg {
    background-color: var(--error-color);
}

.http-response {
    color: var(--moderate-lighter-color);
    border-radius: 3px;
    padding: 3px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 80%;
    line-height: 80%;
}
