---
---

@import "{{ site.theme }}";

:root {
    --error-color: #cc4831;
    --warning-color: #fdb953;
    --success-color: #039a00;
    --moderate-lighter-color: #fbf4ec;
    --subtle-lighter-color: #f5ede3;
    --default-color: #ece4d8;
    --subtle-darker-color: #c7c0b5;
    --moderate-darker-color: #a89d8b;
    --theme-blue: #5b7f98;
    --theme-red: #7c334f;
    --sans-serif-font:
        TradeGothicLT, "Noto Sans", "DejaVu Sans", Helvetica, Arial, sans-serif;
    --text-color: #544943;
    --link-color: #417090;
}

// Fixes to the defaults to allow a wider central column

.shell {
    --shell-width: 670px;
}

.shell-wide {
    --shell-width: 1050px;

    @extend .shell;
    min-width: var(--shell-width);
    text-align: center;

    header {
        max-width: calc(var(--shell-width) - 70px);
    }

    #no-downloads {
        width: calc(var(--shell-width) - 120px);
        background-size: 100% 44%;

        .inner {
            width: calc(var(--shell-width) - 120px);
            background: transparent url(../images/download-sprite-wide.png) 0 0
                no-repeat;
        }
    }

    .banner-fix {
        width: var(--shell-width);
    }

    footer {
        max-width: calc(var(--shell-width) - 120px);
        background: transparent url(../images/footer-ramp.jpg) center 18px
            no-repeat;
        background-size: 100% 44%;
    }
}

.input-error {
    color: var(--error-color);
}

.hidden {
    display: none;
    visibility: collapse;
    max-height: 0;
    // Don't mess with grids
    position: absolute;
}

.fade-out {
    // Alternative for transitions
    opacity: 0 !important;
}

.icon {
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
}

hr.subtle {
    border: 2px dotted var(--subtle-darker-color);
    height: 0px;
    margin: 5px auto;
    width: 70%;
    background: none;
}

/* Applied to body when modal is showing */
.no-scroll {
    overflow: hidden;
}

.modal-overlay {
    // Positioning
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    // Colouring - we use RGBA in caps to avoid SCSS interpreting the functions
    --overlay-opacity: 0.15;
    background: RGBA(from var(--theme-blue) r g b / var(--overlay-opacity));
    background-image: radial-gradient(
        circle,
        RGBA(from var(--theme-red) r g b / var(--overlay-opacity)) 30%,
        RGBA(from var(--theme-blue) r g b / var(--overlay-opacity)) 100%
    );
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--default-color);
    padding: 7px 10px 10px;
    border-radius: 5px;
    z-index: 1001;
    width: calc(var(--shell-width) - 120px - 300px);
}

.modal-active {
    display: block;
}

input,
select,
textarea {
    border-width: 0px;
    border-bottom: 2px solid var(--subtle-darker-color);
    background-color: var(--subtle-lighter-color);

    &:focus,
    &:hover {
        border-bottom: 2px solid var(--moderate-darker-color);
        background-color: var(--moderate-lighter-color);
    }

    &:disabled,
    &:read-only {
        border-bottom: 2px solid var(--subtle-lighter-color);
        background-color: var(--default-color);
    }
}

label {
    padding-top: 2px;
}

// Add top borders for textarea
textarea {
    border-top: 2px solid var(--subtle-darker-color);

    &:focus,
    &:hover {
        border-top: 2px solid var(--moderate-darker-color);
    }
}

.textarea-label {
    padding-top: 3px;
}

.warning-border {
    border: 2px solid var(--warning-color);
}

.success-bg {
    background-color: var(--success-color);
}

.warning-bg {
    background-color: var(--warning-color);
}

.error-bg {
    background-color: var(--error-color);
}

.http-response {
    color: var(--moderate-lighter-color);
    border-radius: 3px;
    padding: 3px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 80%;
    line-height: 80%;
}

.bold {
    font-weight: bold;
}

#post-preview-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding: 0 15px;

    & .post-preview-card {
        width: 400px;
        border-radius: 6px;
        border: 1px solid var(--subtle-darker-color);

        & .post-preview-bg {
            background-color: var(--moderate-lighter-color);
            background-size: cover;
            height: 100px;
            border-radius: 5px;
            // Don't blur my images!!
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges; /* Firefox */
            image-rendering: -o-crisp-edges; /* Opera */
            image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
            -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
        }

        & .post-preview-excerpt {
            // Cover all of the parent image
            width: 100%;
            height: 100%;
            border-radius: inherit;
            // Styling
            font-style: italic;
            font-weight: bold;
            text-decoration: none;
            color: var(--moderate-lighter-color);
            opacity: 100;
            transition: opacity 0.5s ease-in-out;
            background-color: RGBA(from var(--theme-red) r g b / 0.7);
            /* Overflow with ellipsis */
            overflow: hidden;
            line-clamp: 3;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }

        & .post-preview-title {
            font-weight: bold;
            color: var(--text-color);
        }

        & a:link,
        a:visited {
            text-decoration: none;
            color: var(--text-color);
        }

        & a:hover,
        a:active {
            text-decoration: underline;
            color: var(--link-color);
        }
    }
}
