---
---

@import "{{ site.theme }}";

:root {
    --error-color: #cc4831;
    --default-color: #ece4d8;
    --subtle-color: #c7c0b5;
    --less-subtle-color: #a89d8b;
    --theme-blue: #5b7f98;
    --theme-red: #7c334f;
}

// Fixes to the defaults to allow a wider central column

.shell-wide {
    $shell-width: 1050px;

    @extend .shell;
    min-width: $shell-width;
    text-align: center;

    header {
        max-width: calc(#{$shell-width} - 70px);
    }

    #no-downloads {
        width: calc(#{$shell-width} - 120px);
        background-size: 100% 44%;

        .inner {
            width: calc(#{$shell-width} - 120px);
            background: transparent url(../images/download-sprite-wide.png) 0 0
                no-repeat;
        }
    }

    .banner-fix {
        width: $shell-width;
    }

    footer {
        max-width: calc(#{$shell-width} - 120px);
        background: transparent url(../images/footer-ramp.jpg) center 18px
            no-repeat;
        background-size: 100% 44%;
    }
}

.input-error {
    color: var(--error-color);
}

.hidden {
    visibility: collapse;
    max-height: 0;
}

.icon {
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
}

hr.subtle {
    border: 2px dotted var(--subtle-color);
    height: 0px;
    margin: 5px auto;
    width: 70%;
    background: none;
}

.modal-overlay {
    // Positioning
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    // Colouring - we use RGBA in caps to avoid SCSS interpreting the functions
    --overlay-opacity: 0.15;
    background: RGBA(from var(--theme-blue) r g b / var(--overlay-opacity));
    background-image: radial-gradient(
        circle,
        RGBA(from var(--theme-red) r g b / var(--overlay-opacity)) 30%,
        RGBA(from var(--theme-blue) r g b / var(--overlay-opacity)) 100%
    );
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--default-color);
    padding: 20px;
    border-radius: 2px;
    z-index: 1001;
}

.modal-active {
    display: block;
}
