/*Filename - defaults.css*/

:root {
	/* Colour definitions */
	--background: #2F302C;
	--background-darker: #2A2B27;
	--background-lighter: #41463d;

    --bright: #C0C0C0;
    --bright-darker: #AEAEAE;
    --bright-lighter: #FFF;

	--primary: #44AA44;
	--primary-darker: #3D753D;
	--primary-lighter: #8CAB44;

	--secondary: #B85A49;

    --contrast: #242424;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Verdana', sans-serif;
}

body {
	font-size: 1.1rem;
	background: linear-gradient(135deg, var(--background-lighter) 0%, var(--background) 105%) fixed;
	color: var(--bright);
}

body, #root {
	min-height: 100vh;
}

.logo-font {
	font-family: 'Silkscreen', sans-serif;
}

.font--tiny {
	font-size: 0.7rem;
}

.font--small {
	font-size: 0.9rem;
}

.font--medium {
	font-size: 1.5rem;
}

.font--large {
	font-size: 2rem;
}

.font--extra-large {
	font-size: 3rem;
}

.bright-darker-text-color {
	color: var(--bright-darker);
}

.bright-lighter-text-color {
	color: var(--bright-lighter);
}

.primary-text-color {
	color: var(--primary);
}

.secondary-text-color {
	color: var(--secondary);
}

.home, .services, .products, .sign-up {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

a {
	color: var(--primary);
}

a:visited {
	color: var(--primary-darker);
}

a[disabled] {
	pointer-events: none;
	color: var(--bright);
	text-decoration: none;
}

.centre-container {
	background-color: var(--background);
	padding: 0px 40px 20px;
	text-align: center;
	color: var(--bright);
	min-height: calc(100vh - 80px);
	width: 68%;
	margin: 0px auto;
}

h2, h3 {
	color: var(--bright-lighter);
}

h2 hr {
	width: 50%;
	margin: 1px auto 20px;
	border: 1px dashed;
}

.plain-list {
	list-style: none;
}

.plain-list li {
	margin-top: 3px;
}

.input-error {
	color: --secondary;
	visibility: hidden;
}

summary {
	display: block;
}

summary::after {
	margin-left: 2.5%;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	content: '>';
	transition: 0.6s;
}

details[open] > summary::after {
	transform: rotate(-270deg);
}

@media screen and (max-width: 960px) {
	.centre-container {
		padding: 0 6% 2%;
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.centre-container {
		padding: 0;
		width: 100%;
	}
}